#parse("${BANK}/${BANK}_Base.vm")
<?xml version="1.0" encoding = "GBK"?>
<CMS>
<eb>
<pub>
<TransCode>QHISD</TransCode>
<CIS>${CIS}</CIS>
<BankCode>${BANKCODE}</BankCode>
<ID>${CERTID}</ID>	
<TranDate>${tranDate}</TranDate>
<TranTime>${tranTime}</TranTime>
<fSeqno>${seqno}</fSeqno>
</pub>
<in>
<AccNo>${acctno}</AccNo>
<BeginDate>${beginDate}</BeginDate>
<EndDate>${endDate}</EndDate>
<MinAmt>$!{minAmt}</MinAmt>
<MaxAmt>$!{MaxAmt}</MaxAmt>
<BankType>$!{bankCtype}</BankType>
<NextTag>$!{nextTag}</NextTag>
<CurrType>$!{currno}</CurrType>
<DueBillNo>$!{dueBillNo}</DueBillNo>
<AcctSeq>$!{acctSeq}</AcctSeq>
</in>
</eb>
</CMS>
