#parse("${BANK}/${BANK}_Base.vm")
<?xml version="1.0" encoding = "GBK"?>
<CMS>
<eb>
<pub>
<TransCode>QPD</TransCode>
<CIS>${CIS}</CIS>
<BankCode>${BANKCODE}</BankCode>
<ID>${CERTID}</ID>	
<TranDate>${system.tranDate}</TranDate>
<TranTime>${system.tranTime}</TranTime>
<fSeqno>${system.seqno}</fSeqno>
</pub>
<in>
<AccNo>$!{acctno}</AccNo>
<AreaCode>$!{areaCode}</AreaCode>
<MinAmt>${minAmt}</MinAmt>
<MaxAmt>${maxAmt}</MaxAmt>
<BeginTime>$!{beginTime}</BeginTime>
<EndTime>$!{endTime}</EndTime>
<NextTag>$!{nextTag}</NextTag>
<ReqReserved1>$!{reqReserved1}</ReqReserved1>
<ReqReserved2>$!{reqReserved2}</ReqReserved2>
<CurrType>$!{currno}</CurrType>
<AcctSeq>$!{acctSqe}</AcctSeq>
</in>
</eb>
</CMS>
