<?xml version="1.0" encoding = "GBK"?>
<CMS>
<eb>
<pub>
<TransCode>QHISBAL</TransCode>
<CIS>${config.CIS}</CIS>
<BankCode>${config.BANKCODE}</BankCode>
<ID>${config.CERTID}</ID>
<TranDate>${system.tranDate}</TranDate>
<TranTime>${system.tranTime}</TranTime>
<fSeqno>${seqno}</fSeqno>
</pub>
<in>
<AccNo>${acctno}</AccNo>
<CurrType>${currno}</CurrType>
<BeginDate>${beginDate}</BeginDate>
<EndDate>${endDate}</EndDate>
<AcctSeq>$!{acctSqe}</AcctSeq>
</in>
</eb>
</CMS>
