#parse("${BANK}/Base.vm")
<?xml version="1.0" encoding = "GBK"?>
<CMS>
<eb>
<pub>
<TransCode>QHISBAL</TransCode>
<CIS>${CIS}</CIS>
<BankCode>${BANKCODE}</BankCode>
<ID>${CERTID}</ID>	
<TranDate>${system.tranDate}</TranDate>
<TranTime>${system.tranTime}</TranTime>
<fSeqno>${system.seqno}</fSeqno>
</pub>
<in>
<AccNo>${acctno}</AccNo>
<CurrType>${currno}</CurrType>
<BeginDate>${beginDate}</BeginDate>
<EndDate>${endDate}</EndDate>
<AcctSeq>$!{acctSqe}</AcctSeq>
</in>
</eb>
</CMS>
